* {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: blue;
    height: 80vh;
    min-height: 600px;
    background-image: url('https://i.ibb.co/HNvHSyV/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: flex;
    font-size: 20px;
    color: white;
    align-items: center;
}

.menu span {
    margin-right: 30px;
    cursor: pointer;
}

.contact {
    background-color: white;
    color: black;
    padding: 8px 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.contact:hover {
    background-color:antiquewhite;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: white;
    flex-grow: 1;
    font-weight: bold;
}

.arrow {
    margin-top: 60px;
}

.section1 {
    display: flex;
    height: 350px;
}

.section1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .text-container {
    width: 70%;
}

.left h1 {
    font-size: 40px;
    margin-bottom: 16px;    
}

.left p {
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.left, .right {
    flex: 1;
}

.left .button {
    display: flex;
    align-items: center;
}

.left img {
    width: 150px;
}